<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="header__title">
            <h1>Tracking coronavirus COVID-19</h1>
        </div>
        <div class="header__content">
            <p class="items">Confirmed<br> <span class="item confirmed"><%= coronavirus.confirmed %></span></p>
            <p class="items">Recovered<br> <span class="item recovered"><%= coronavirus.recovered %></span></p>
            <p class="items">Deaths<br> <span class="item deaths"><%= coronavirus.deaths %></span> </p>
        </div>
    </header>
</body>

</html>